<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Dots"
        android:networkSecurityConfig="@xml/network_security_config"
        tools:targetApi="31">
        <activity
            android:name=".activityLoginTrue.OrderTypeActivity"
            android:exported="false" />
        <activity
            android:name=".activityLoginTrue.EditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".activityLoginTrue.DetailProductInActivity"
            android:exported="false" />
        <activity
            android:name=".categoryOut.SeeAllOut"
            android:exported="false" />
        <activity
            android:name=".category.SeeAll"
            android:exported="false" />
        <activity
            android:name=".detailPromo.PromoActivityOut1"
            android:exported="false" />
        <activity
            android:name=".detailPromo.PromoActivityIn1"
            android:exported="false" />
        <activity
            android:name=".categoryOut.SquashSeriesOut"
            android:exported="false" />
        <activity
            android:name=".categoryOut.MilkySeriesOut"
            android:exported="false" />
        <activity
            android:name=".categoryOut.YakultSeriesOut"
            android:exported="false" />
        <activity
            android:name=".categoryOut.ThaiSeriesOut"
            android:exported="false" />
        <activity
            android:name=".categoryOut.TeaSeriesOut"
            android:exported="false" />
        <activity
            android:name=".category.YakultSeries"
            android:exported="false" />
        <activity
            android:name=".category.MilkySeries"
            android:exported="false" />
        <activity
            android:name=".category.ThaiSeries"
            android:exported="false" />
        <activity
            android:name=".category.SquashSeries"
            android:exported="false" />
        <activity
            android:name=".category.TeaSeries"
            android:exported="false" />
        <activity
            android:name=".activityLoginTrue.AboutLoggedInActivity"
            android:exported="false" />
        <activity
            android:name=".activityLoginTrue.SettingsLoggedInActivity"
            android:exported="false" />
        <activity
            android:name=".activityLoginTrue.ChatLoggedInActivity"
            android:exported="false" />
        <activity
            android:name=".fragmentsLoggedIn.LoggedInProfilFragment"
            android:exported="false"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".activityLoginTrue.HomeLoggedInActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".LoginPleaseActivity"
            android:exported="false" />
        <activity
            android:name=".CreateAccountActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".HomeActivityLogOut"
            android:exported="false" />
        <activity
            android:name=".GetStartedActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>